/* Basic styling */
body {
background-color: black;
color: white;
margin-left: 10vw;
margin-right: 10vw;
font-family: JBMono, monospace;
font-display: fallback;
}
/* White links */
a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
/* Link hover glow effect */
a:hover {
    text-shadow: 0px 0px 2px #8545c4, 0px 0px 5px #8e54c8, 0px 0px 10px #8c69b0;
}
/* Seperator element color */
hr {
    color: #2e2e2e;
    border-color: #2e2e2e;
    border-style: solid;
}
/* Image container overflow fix */
img {
    max-width: 100%;
    height: auto;
}
/* Container size changes for mobile */
@media only screen and (orientation: portrait) {
    body {
        padding-bottom: 6rem;
        margin-left: 4vw;
        margin-right: 4vw;
    }
}
/* SF Mono font declaration */
@font-face {
    font-family: SFMono;
    src: url(/assets/mono.otf);
}
@font-face {
    font-family: SFMono;
    src: url(/assets/monob.otf);
    font-weight: bold;
}

/* JetBrains Mono font declaration */
@font-face {
    font-family: JBMono;
    src: url(/assets/mono2.ttf);
}
@font-face {
    font-family: JBMono;
    src: url(/assets/mono2b.ttf);
    font-weight: bold;
}