<link rel="stylesheet" href="/style/base.css">
<link rel="stylesheet" href="/style/title.css">
<link rel="stylesheet" href="/style/nav.css">
<link rel="stylesheet" href="/style/sidebar.css">
<head>
<title>mox' internet corner</title>
<link rel="icon" type="image/png" href="/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
<a href="/"><h1 class="title">mox' internet corner</h1></a>
<a href="/"><h1 class="mobiletitle">mox' internet corner</h1></a>
<h2 class="subtitle">thanks for visiting!</h2>
<h3 class="mobilesubtitle">thanks for visiting!</h2>
</header>
<div class="mobilesidebar">
<a href="/sidebar">Sidebar >></a>
</div>
<div class="navigation">
{% include "nav.njk" %}
</div>
<hr>
<main>
<aside>
    <!-- {% renderFile "./_includes/to-do.md" %} -->
</aside>
{{ content | safe}}
</main>
</body>