<link rel="stylesheet" href="/style/base.css">
<link rel="stylesheet" href="/style/nav.css">
<div class="navcontainer">
<a href="/">home</a>
<a href="/about/">about</a>
<a href="/blog/">blog thing</a>
<a href="/links/">links & friends</a>
</div>